body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color:  grey;
  color: whitesmoke;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: cornflowerblue;
  border-bottom: 1px solid #333;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    text-align: center;
}

.logo {
  width: 50px;
  height: auto;
}

.dashboard {
  display: grid; border: 3px solid blue;
  gap: 0.5rem;
  padding: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  background-color: black;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(10, 10, 10, 0.4);
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(42, 231, 184, 0.6);
  
}

.card h2 {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif; 
  margin-bottom: 1rem;
}

.status {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
  font-size: 0.9rem;
}

.green {
  color: white;
    border: 5px solid green;

  
}

.yellow {
      border: 5px solid orange;

    color:white;
}

.red {
border: 5px solid red;

  color: #fff;
}

.blue {
  color: #fff;
    border: 5px solid blue;

}
